signup {
  & > div {
    margin-top: 10em;
  }
  #signup-form {
    .item-md.item-block .item-inner {
      margin-right: 1em;
    }
    .item-md, .item-wp, .item-ios {
      background-color: transparent;
      color: black;
    }
    input.text-input::placeholder {
      color: rgba(0, 0, 0, 0.7);
    }
  }
  #otp {
    @extend %transparent-input;
    margin-top: 17em;
  }
  #heading-signup {
    width: 100%;
    color: black;
    position: absolute;
    top: 2em;
  }
  #back-button {
    position: absolute;
    top: 2px;
    left: 2px;
  }
}
