<div>
  <div class="heading">
    <h3 id="heading-signup">SignUp</h3>
  </div>
  <div id="back-button" *ngIf="!changeForm">
    <button type="button" clear (click)="toggleForm()" ion-button primary>
      <ion-icon name="arrow-back"></ion-icon>
    </button>
  </div>
  <div id="signup-form" *ngIf="changeForm">
    <form [formGroup]="signupForm">
      <ion-item-group>
        <ion-item>
          <ion-input type="email" formControlName="username" placeholder="Email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="number" formControlName="contact" placeholder="Contact"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" formControlName="companyName" placeholder="Company Name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" formControlName="gstin" placeholder="GSTIN"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" formControlName="city" placeholder="City"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" formControlName="state" placeholder="State"></ion-input>
        </ion-item>
      </ion-item-group>
      <div class="wrap">
        <ion-row justify-content-center style="margin-top:40px;">
          <button type="button" clear login-animation (click)="formSubmit()" ion-button primary
                  [disabled]="signupForm.invalid">
            Signup
          </button>
        </ion-row>
        <ion-row justify-content-center style="margin-top:6em;">
          <span class="passive">Already Registered?&nbsp;</span>
          <button ion-button style="font-size: 1rem;" clear (click)="switchToSignIn()">
            Signin
          </button>
        </ion-row>
      </div>
    </form>
  </div>
  <div *ngIf="!changeForm" id="otp">
    <ion-row>
      <ion-item>
        <input id="pin2" [(ngModel)]="otp" maxlength="6" type="number" placeholder="OTP">
      </ion-item>
    </ion-row>
    <ion-row justify-content-center margin-top>
      <span class="passive">Did not receive Otp?&nbsp;</span>
      <button ion-button style="font-size: 1rem;" clear (click)="resendOtp()">
        Resend
      </button>
    </ion-row>
    <ion-row justify-content-center margin-top>
      <button ion-button (click)="verifyOtp()">Verify</button>
    </ion-row>
  </div>
</div>
