<div>
  <div class="signup-form">
    <form [formGroup]="signupForm">
      <ion-item-group>
        <ion-item>
          <ion-input type="email" formControlName="username" placeholder="Email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" formControlName="Contact" placeholder="Contact"></ion-input>
        </ion-item>
      </ion-item-group>
      <div class="wrap">
        <ion-row justify-content-center style="margin-top:40px;">
          <button type="button" login-animation (click)="signUp()" ion-button primary>
            Signup
          </button>
        </ion-row>
      </div>
    </form>
  </div>
</div>
