<div id="signin">
  <div style="text-align:center;">
    <div class="heading">
      <div class="logo"></div>
      <h3>Conifer Invoicing</h3>
    </div>
    <div class="signin-form">
      <form [formGroup]="signinForm">
        <ion-item-group style="margin-top:4em;">
          <ion-item>
            <ion-input type="email" formControlName="username" placeholder="Email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type=password formControlName="password" placeholder="Password"></ion-input>
          </ion-item>
        </ion-item-group>
        <div class="wrap">
          <ion-row justify-content-center style="margin-top:5em;">
            <button type="button" (click)="onLogin($event)" ion-button primary
                    [disabled]="signinForm.invalid">
              login
            </button>
          </ion-row>
          <ion-row justify-content-center style="margin-top:6em;">
            <span class="passive">Not Registered?&nbsp;</span>
            <button type="button" style="font-size: 1rem;color:white;" clear (click)="switchToSignUp()" ion-button
                    primary>
              Signup
            </button>
          </ion-row>
        </div>
      </form>
    </div>
  </div>
</div>
