<!-- Generated template for the PinComponent component -->
<div>
  <ion-list *ngIf="!data">
    <ion-item>
      <input [(ngModel)]="setPin1" maxlength="4" type="password" placeholder="Pin">
    </ion-item>
    <ion-item>
      <input [(ngModel)]="setPin2" maxlength="4" type="password" placeholder="Confirm">
    </ion-item>
    <ion-row justify-content-center margin-top>
      <button margin-top ion-button (click)="setPin()" [disabled]="setPin1.length<4 || setPin2.length<4">Set Pin</button>
    </ion-row>
  </ion-list>
  <ion-list *ngIf="data">
    <ion-item>
      <input id="pin2" [(ngModel)]="setPin2" maxlength="4" type="password" (ngModelChange)="checkPin()"
             placeholder="Pin">
    </ion-item>
    <ion-row justify-content-center margin-top>
      <ion-col>
        <button ion-button (click)="logOut()">Reset Pin</button>
      </ion-col>
      <ion-col>
        <button ion-button (click)="logOut()">LogOut</button>
      </ion-col>
    </ion-row>
  </ion-list>
</div>
