page-auth {
  ion-content {
    background: linear-gradient(to bottom right, #0d7bca, #01b0e5);
    &:after {
      content: '';
      background: url("../assets/imgs/bg-pattern.png");
      opacity: 0.5;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
    }
  }
  .logo {
    height: 150px;
    background: url('../assets/imgs/coniferlogo.png') center no-repeat;
    background-size: 80px;
  }
  .item-md, .item-wp, .item-ios {
    background-color: transparent;
    color: white;
  }
  input.text-input::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  h3 {
    color: #fff;
    font-weight: 500;
    text-align: center;
  }
}
